@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: $veryLightGray;
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// Button
.button {
  outline: 0;
  font-weight: 600;
  font-family: inherit;
}

// Container
.container {
  margin: 0 auto;
  max-width: 77.15rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &--py {
    padding-top: 2.85rem;
    padding-bottom: 2.85rem;
  }
}

// Flexbox
.flex {
  display: flex;

  &-ai-c {
    align-items: center;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }
}

// Grid
.grid {
  display: grid;

  &-ai-c {
    align-items: center;
  }
}
