.form {
  padding-top: 1.5rem;

  @include breakpoint-up(medium) {
    padding-top: 2.85rem;
  }

  &__search {
    position: relative;

    &__icon {
      position: absolute;
      top: 0.9375rem;
      left: 1.875rem;
      color: $darkGray;
      font-size: 1.1875rem;

      @include breakpoint-up(medium) {
        top: 1rem;
        left: 1.75rem;
        font-size: 1.25rem;
      }
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 0.75rem;
      font-family: inherit;
      text-indent: 3.375rem;
      border-radius: $radius;
      background-color: $white;
      padding: 1.0625rem 1.25rem;
      box-shadow: rgba(99, 99, 99, 0.2) 0 0.125rem 0.25rem 0;

      @include breakpoint-up(medium) {
        width: 28.25rem;
        font-size: revert;
        text-indent: 3.125rem;
      }

      &::placeholder {
        color: $darkGray;
      }
    }
  }
}
